.view-tabs { display: flex; gap: 6px; }
.tab-btn {
  font-family: var(--font-main);
  font-size: var(--font-size-md);
  background: var(--color-surface);
  color: var(--color-text-dim);
  border: 1px solid var(--color-border);
  padding: 5px 10px;
  cursor: pointer;
  transition: all .2s;
}
.tab-btn:hover { color: var(--color-accent); border-color: var(--color-accent); }
.tab-btn.active { color: var(--color-accent); border-color: var(--color-accent); background: var(--color-surface-hover); box-shadow: 0 0 10px #7aa2f730; }
